<h2>New Movie</h2>
<form action="/movies/create" method="POST">
    <label>Movie Title:
        <input name="title"/>
    </label>
    <label>Genre:
        <input name="genre"/>
    </label>
    <label>Plot:
        <input name="plot"/>
    </label>
    <label>Cast:
        <select name="cast" multiple/>
        <% allCelebrities.forEach(celeb => { %>
            <option value="<%- celeb._id %>"> <%- celeb.name %> </option>
        <% }) %>
        </select>
    </label>
    <button type="submit">Create Movie</button>
</form>